*{
    margin: 0;
    padding: 0;
    /*font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;*/
}
@media screen and (min-width:1280px){
Body{
    background-color:rgba(122, 191, 191, .5);
    margin: 10px;
    padding: 5px;
}
h1{
    text-align: center;
    background-color: #F2F2F2;
    margin-top: 110px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    padding-top: 150px;
}
h2{
  font-family: 'Bebas Neue', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 16px;
  padding: 5px;
  line-height: 26px;
  padding: 10px;
}
main{
  background-color: #F2F2F2; 
  margin: 0;
  padding-top: 40px; 
}
/* styles for the menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #EB5428;
  padding: 20px;
  max-width: 80px;
  margin: 0; 
  background-color: #fff;
  height: 556px;
}
.menu li {
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
}    
.menu button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: none;
  border: none;
  font-family: 'Bebas Neue', sans-serif;
  color: #EB5428;
  cursor: pointer;
}.menu button span {
  font-size: 20px; 
  font-weight: bold;
  text-transform: uppercase;
}
.menu button:hover {
  color: #fff;
  background-color:  rgba(122, 191, 191, .5);
}
/* styles for the nav */
.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /*helps the nav stay on top of the other elements.*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F2F2F2;
  box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
#logo {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: #EB5428;
}
#logo:hover{
  background-color: #78bfbf;
  cursor: pointer;
}
.avatar span {
  color: black;
}
.mainNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.mainNav ul li {
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.mainNav ul li a {
  text-decoration: none;
  color: #EB5428;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainNav ul li a:hover {
  color: #fff;
  background-color: rgba(122, 191, 191, .5);
  border-radius: 3px; /* Add a border radius on hover */
  padding: 5px 10px; /* Adjust padding on hover */
  transform: translate(-5px);
}
.mainNav ul li a img {
  max-width: 60px; 
}
.mainNav svg:hover{
  fill: rgba(122, 191, 191, .5); /* Change the color of the SVG  user icon */
}
/* styles for the container */
.container {
  display: grid;
  grid-template-columns: 100px 1fr 60%; 
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  height: 620px;
}
.menu,.imageColumn,.content {
  max-width: 1280px; 
}
.imageColumn img {
  max-width: 100%; 
  max-height: 600px; 
}
/* Styles for the search bar */
#search {
  display: flex;
  border: 2px solid #EB5428;
  border-radius: 4px;
  overflow: hidden;
  max-width: 250px; 
  /* position it on the top of main */
  position: absolute;
  top: 180px; /*this adjust the placement*/
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}
#search form {
  display: flex;
  flex: 1;
}
#search input[type="text"] {
  border: none;
  padding: 10px;
  flex: 1;
  outline: none;
  color: #EB5428;
  font-family: 'Montserrat', sans-serif;
}
#search button {
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #EB5428;
}
#search button:hover {
  background-color: #EB5428;
}
#search svg {
  width: 20px; /* Set the size of the SVG icon */
  height: 20px;
  transition: fill 0.3s ease;
}
#search button:hover svg {
  fill: white; /* Change the color on hover of the svg */
}
/* styles for the details section */
section.details{
  background-color: #0D0D0D;
  color: #78bfbf;
  padding: 5px;
}
section.details h2{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}
.details dl {
  background-color: #0D0D0D;
  color: #7ABFBF;
  padding: 20px;
}
.details dt, .details dd {
  display: inline-block;
  line-height: 26px;
  font-family: 'Montserrat', sans-serif;
}
.details dt{
  font-weight: bold;
}
.pair {
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
}
.pairs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* styles for the ingredients and directions articles */
#more{
  display: grid;
  grid-template-columns: 1fr 80%;
  gap: 10px;
  margin: 15px;
  padding-left: 10px;
  line-height: 30px;
}
#more .ingredients h2, #more .directions h2 {
  text-align: center;
}
.ingredients ul{
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.directions ol{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
/* Styles for the side dishes */
#sideDishes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  background-color: #7ABFBF;
}
#sideDishes h2 {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
  padding: 10px;
}
#sideDishes figure {
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}
#sideDishes p:nth-of-type(even) {
  font-weight: bold;
}
.fa-star.checked {
  color: #EB5428;
}
/* Empty stars */
.fa-star:not(.checked) {
  color: white;
}
/* Styles for footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  padding: 0 20px;
}
footer h2{
  display: none;
}
footer img{
  max-width: 150px;
  margin-right: 20px;
  padding: 5px;
  order: -1;
}
.Connect {
  order: 2;
}
.goodEats {
  order: 0;
  text-align: left;
  margin-right: auto;
  order: 0;
}
.goodEats p{
  margin: 0;
  font-weight: bold;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.socials {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: right;
  margin-left: auto;
}
.socials li {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: #EB5428;
}
.socials li svg {
  transition: transform 0.3s ease-in-out;
}

.socials li svg:hover {
  transform: scale(1.2);
  cursor: pointer; 
}

/* Adjust the hamburger icon */
#hamburgerIcon {
  display: none; /* Hide the hamburger icon on larger screens */
}
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
body{
  background-color: rgba(120, 191, 191, 0.5);
  margin: 10px;
  padding: auto;
}
h1{
  text-align: left;
  background-color: #F2F2F2;
  margin-top: 187px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  padding: 10px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 16px;
  padding: 5px;
  line-height: 26px;
  padding: 10px;
  background-color: #F2F2F2;
}
/* styles for the nav */
  .mainNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /*helps the nav stay on top of the other elements.*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F2F2F2;
  box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
#logo {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: #EB5428;
}
#logo:hover{
  background-color: #78bfbf;
  cursor: pointer;
}
.avatar{
  position: absolute;
  top: 10px;
  right: 125px;
  color: #0D0D0D;
}
.avatar span {
  color: black;
}
.mainNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  list-style: none;
  padding-top: 30px;
}
.mainNav ul li {
  margin-top: 45px;
  text-align: center;
  transition: all 0.3s ease;

}
.mainNav ul li a {
  text-decoration: none;
  color: #EB5428;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainNav ul li a:hover {
  color: #fff;
  background-color: rgba(122, 191, 191, .5);
  border-radius: 3px; /* Add a border radius on hover */
  padding: 5px 10px; /* Adjust padding on hover */
  transform: translate(-5px);
}
.mainNav ul li a img {
  max-width: 45px; 
}
.mainNav svg{
  width: 50px;
  height: auto;
}
.mainNav svg:hover{
  fill: rgba(122, 191, 191, .5); /* Change the color of the SVG  user icon */
}
  #hamburgerIcon {
    display: none; /* hide the hamburger icon */
  }
  /* Styles for the search bar */
#search {
  display: flex;
  border: 2px solid #EB5428;
  border-radius: 4px;
  overflow: hidden;
  max-width: 250px; 
  /* position it on the top of main */
  position: absolute;
  top: 20px; /*this adjust the placement*/
  left: 63%;
  transform: translate(-50%);
  z-index: 1;
}
#search form {
  display: flex;
  flex: 1;
}
#search input[type="text"] {
  border: none;
  padding: 10px;
  flex: 1;
  outline: none;
  color: #EB5428;
  font-family: 'Montserrat', sans-serif;
}
#search button {
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #EB5428;
}
#search button:hover {
  background-color: #EB5428;
}
#search svg {
  width: 20px; /* Set the size of the SVG icon */
  height: 20px;
  transition: fill 0.3s ease;
}
#search button:hover svg {
  fill: white; /* Change the color on hover of the svg */
}
/* styles for the container */
.container{
  position: relative;
}
.imageColumn{
  position: relative;
  text-align: center;
}
.imageColumn img{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/* styles for the menu */
.menu{
  position: absolute;
  width: 100%;
  list-style: none;
  top: 43px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
}
.menu button{
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #EB5428;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}
.menu button:hover{
  transform: scale(1.2);
  cursor: pointer; 
}
/* Styles for the details */
.details{
  background-color: #F2F2F2;
  text-align: center;
  padding: 10px;
}
.details h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}
.pair dt {
  font-weight: bold; 
  margin-right: 10px;
}
.pair {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  line-height: 26px; 
}
#more{
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns:30% 70%;
  padding: 20px;
  
}
#more h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}
#more li{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding: 3px;
}
/* styles for side dishes */

}